@font-face {
  font-family: 'KayPhoDu';
  src: url('fonts/KayPhoDu-Regular.ttf');
}

@font-face {
  font-family: AfacadFlux;
  src: url('../fonts/afacadflux.ttf');
}


body {
  font-family: KayPhoDu;
  margin: 0;
  padding: 0;
  background-color: #f2f1ec;
}

.product-png {
  display: flex;
  justify-content: space-evenly;
  /*height: 100vh;*/
}

.product-png img {  
  padding: 10px;
  transform: rotate(0deg);
  width: 50%;
}

.summary {
  font-family: AfacadFlux;
  font-size: 3rem;
  padding: 20px;
  margin-bottom: 50vh;
}

@media (max-width : 650px) {
  .summary {
    font-size: 1.2rem;
  }
}